
body{
	min-height: 100vh;
	min-width: 100vh;
	background-color: #FFE6E6;
	color: #AE88BF;
}
h1{
	text-align: center;
	font weight: 700;
	font size:50px;
}
p{
	text-align: center;
	font weight:bold;
	font size: 70px;
}
.main{
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  border-radius: 5px;
  cursor: grab;
}
.action{
	display: flex;
	justify-content: center;
}

.action button{
	padding: 8px 16px;
	font-size: 30px;
	border-radius: 10px;
	background-color: #D5B7E2;
	color:black;
}
.card-container{
	grid-template-columns: repeat(auto-fill, 40px);
}

.card {
  height: calc(140px / 2 * 3);
  width: 140px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.front-image {
  width: 60px;
  height: 60px;
}


.card.flipped{
	transform: rotateY(180deg);
}

.card.front{
	display:flex;
	justify-content:center; 
	align-items:center;
	transform: rotateY(180deg)
}
.card.back{
	background-image:url(evetsai0.github.io/cardback.png);
	background-position:center center;
	background-size: cover;
	backface-visibility: hidden;
}

.card .front {
  transform: rotateY(180deg);
}